@using System.Threading.Tasks
@model IEnumerable<TodoRepo.Models.TodoItem>
@{
    ViewBag.Title = "Complete todo items";
    Layout = "_Layout";
}

<h2>Active ToDo Items</h2>

<a asp-controller="Todo" asp-action="SeeActive">
    <ul class="btn btn-default btn-normal">
        <span class="glyphicon glyphicon-modal-window"></span>
        <strong> See active todos </strong>

    </ul>
</a>

<br/><br/>
<ul class="list-group">


    @foreach (var item in Model)
    {
        <div class="panel panel-default" style="width: 29%">
            
            <div class="panel-body">

                <strong>@item.Text</strong><br/>
                <em>Created: @item.DateCreated</em><br
                <em>Completed: @item.DateCompleted</em>
            </div>

            <a asp-controller="Todo" asp-action="Delete" asp-route-id="@item.Id">
                <div class="btn-danger btn-xs" style="text-align: center">

                    <span class="glyphicon glyphicon-remove-sign"></span>
                    <strong>Delete</strong>

                </div>

            </a>

            <a asp-controller="Todo" asp-action="MarkAsIncompleted" asp-route-id="@item.Id">
                <div class="panel-footer" style="text-align: center">

                    <span class="glyphicon glyphicon-check"></span>
                    <strong>Mark as incompleted </strong>

                </div>

            </a>

        </div>
    }
</ul>